/* 日付選択ウィジェットのスタイル（これはDatePickerのライブラリによって提供されます） */
/* 必要に応じてライブラリのスタイルをカスタマイズしてください */
body {
    padding: 30px;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

img {
    width: 100vw;
}

p {
    text-align: center;
}
