<!DOCTYPE html>
<html>
<head>
  <title>トマト観察日記</title>
  <link rel="icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link href="/static/style.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}"> -->
</head>
<body>
    <!-- readonly でソフトウェアキーボードを出さないようにする -->
    <input type="text" id="datepicker" width="100%" readonly placeholder="日付を選択してください" value="{{ date }}">

      <ul>
        {% for thumbnail_filename in thumbnail_filenames %}
        <li>
          <img src="{{ thumbnail_filename }}" alt="Thumbnail Image">
        </li>
        {% endfor %}
      </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
  <script>
    $(function() {
      // ローカライズオプションを設定する
      $.datepicker.setDefaults($.datepicker.regional["ja"]);
      $("#datepicker").datepicker({
        dateFormat: "ymmdd",
        // 選択した日付のページへ遷移する
        onSelect: (dateText) => window.location.href = "/" + dateText,
      });
    });
  </script>
</body>
</html>
